/* page styles for text book exercise pages */

h1 {
    font-family: Tahoma;
    font-size: 1.5em;
}

h2 {
    font-family: Copperplate, "Copperplate Gothic";
    font-size: 1.25em;
}

h1.big {
    font-family: Tahoma;
    font-size: 2.5em;
    color: #000080;
}

h1.medium {
    font-family: "Times New Roman";
    font-size: 1.5em;
    color: #013220;
}

#footer {
    font-size: .5em;
    color: #000080;
    text-align: center;
}