/* Created by Elliot Allen on 2/8/26 */
/* Set the height of the body and the html to 100% */

html, body {
    height: 100%;
}
/* Display HTML5 structural elements as blocks */
footer, header, section, nav {
    display: block;
}
/* Style for the nav element */
nav {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: -35px;
}

nav ul {
    background-color: rgb(175,175,175);
    line-height: 2em;
    list-style-type: none;
    padding-left: 0px;
    text-indent: 5px;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: rgb(255,255,255);
    border-radius: 5px;
    border: solid black;
}

nav ul li a {
    color: rgb(30,144,255);
    font-weight: bold;
    text-decoration: none;
}

/* Style for the master chief image */
section img#home_page_img {
    width: 560px;
    height: 400px;
}

/* General image styles */
.img_border {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(175,175,175) rgb(200,200,200);
    background-color: black;
    border-radius: 20px;
}

/* Style for the h2 inside the section */
section h2 {
    font-family: Copperplate, "Copperplate Gothic", serif;
    max-width: 870px;
}

/* Style for the image caption */
section figcaption {
    text-align: center;
    max-width: 1000px;
    font-family: Monaco, Consolas;
}

header h1 {
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgb(30,144,255);
    font-family: Garamond;
    margin: -10px, -10x, 20px, -10px;
    background-image: linear-gradient(rgb(255,255,255), rgb(30,144,255));
}

/* Style for the footer */
footer {
    text-align: center;
    font-size: .75em;
    font-family: Garamond;
    background-color: rgb(200,200,200);
    margin: 0px -10px 20px -10px;
}

/* Styles for the products table */
section table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
}

section table th, td {
    border: 1px solid rgb(175,175,175);
}

section table tr:nth-child(even) {
    background-color: rgb(235,240,255);
}

section table col.price {
    background-color: rgb(255,255,224);
}

section table tr:hover {
    background-color: red;
}
